@model Project1Portfolio.Models.About
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Hakkımda Girişi</h2>


<form method="post">
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Hakkımda Yazısı</label>
    @Html.TextAreaFor(x => x.Detail,4,0, new { @class = "form-control" })
    <br />
    <label>Fotoğraf</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Ekle</button>
</form>

